<!-- @format -->

{% assign cachedz = site.time | date: '%M%S' %} {% assign a = page.name | split: '.' %} {% assign page_name = a[0] %}

<form id="FavoriteMovieSubmissionForm">
  <!-- <div class="text-area-wrapper">
    <textarea placeholder="type the name of your favorite movie here" id="FavoriteMovieInput"> </textarea>
  </div> -->

  <div class="input-wrapper">
    <input type="text" placeholder="" id="FavoriteMovieInput" class="submissionForm" />
  </div>

  <div class="button-wrapper">
    <input class="submit" id="SaveForm" name="saveForm" type="submit" value="Submit" />
    <a style="opacity: 0" id="ShareLink" href="#">Share</a>
  </div>
</form>

<script src="/assets/js/movie-form.js?cachedz={{ cachedz }}"></script>
