




.text-area-wrapper {
	--box-width: calc(100vw - 20px);
	--box-height: calc(var(--box-width) * 0.618);

	// border: solid 3px blue;
	// background: yellow;
	// height: 40px;
	width: var(--box-width);
	// height: var(--box-height);

  max-width: 800px;
  aspect-ratio: 1.62;
}
textarea {
	// border: solid 17px purple;
	height: 100%;
	width: 100%;

	resize: none;
	font-family: Times New Roman;
	outline-width: 0;
}
textarea:focus {
	border-color: blueviolet;
}
textarea:active {
	border-color: yellow;
}

textarea:hover {
	color: green;
}
