/** @format */

h3 {
  font-weight: 100;
}

// input[type="submit"] {
//   margin: 15px 0;
//   font-size: 1rem;
//   padding: 2px 5px;
// }
/** @format */

:root {
  --base-size: 2.05rem;
  --title-size: 10vw;
  --subtitle-size: calc(var(--title-size) * 0.62);
  --header-height: calc(calc(var(--base-size) * 1.62) + var(--base-size) + 0px);
}

header {
  height: var(--header-height);
  // margin-bottom:var(--base-size);
  .title {
    font-size: var(--base-size);
    line-height: 1.2em;
    margin: 0;
    margin-top: 1.62em;
  }

  .subtitle {
    font-size: calc(var(--base-size) * 0.56);
    margin: 0;
  }
}

.text-area-wrapper {
  --box-width: calc(100vw - 20px);
  --box-height: calc(var(--box-width) * 0.618);

  width: var(--box-width);
  max-width: 500px;
  aspect-ratio: 1.62;
}

textarea {
  height: 100%;
  width: 100%;
  resize: none;
  font-family: Times New Roman;
  outline-width: 0;
  // &:focus {
  //   border-color: blueviolet;
  // }
  // &:active {
  //   border-color: yellow;
  // }
  // &:hover {
  //   color: green;
  // }
  &:disabled {
    background: transparent;
    border-color: transparent;
    font-size: 1.6em;
  }
}
