<!-- @format -->

{% assign cachedz = site.time | date: '%M%S' %} {% assign a = page.name | split: '.' %} {% assign page_name = a[0] %}

<!DOCTYPE html>
<html>
  {%- include head.html -%}

  <body class="{{ page.layout }} {{ page_name }}">
    <header>
      <h1 class="title">Favorite Movie Form</h1>
      <h3 class="subtitle">type the name of your favorite movie below</h3>
    </header>

    <form id="FavoriteMovieSubmissionForm">
      <div class="text-area-wrapper">
        <textarea id="FavoriteMovieInput"> </textarea>
      </div>

      <input class="submit" id="SaveForm" name="saveForm" type="submit" value="Submit" />
    </form>

    {{ content }}

    <script src="/assets/js/movie-form.js?cachedz={{ cachedz }}"></script>
  </body>
</html>
